*{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

}
body{
    
    font-family: 'Courier New', Courier, monospace;
}
.topnav
{
    background-color: lightgrey;
    overflow: hidden;
}
.navbar{
    display: flex;
}
.topnav a{
    display: flex;
    justify-content:flex-end;
    float: left;
    padding: 10px 20px;
    color: teal;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}
.article_1
{
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.topnav a.active
{
    background-color: teal;
    color: lightgrey;
    
}
.topnav a:hover{
    background-color: darkgrey;
    color: black;
}

.container {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
article{
    margin:70px 0;
}
.container span {
    display: block;
}

.text1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: teal;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: teal;
    
}
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
