*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}
body{
    padding: 100px;
    padding-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topnav
{
   
    overflow: hidden;
}
.navbar{
    display: flex;
}
.topnav a{
    display: flex;
    justify-content:flex-end;
    float: left;
    padding: 10px 20px;
    color: lightgrey;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}

.topnav h3{
    font-size: 40px;
    letter-spacing: 5px;
    padding-right: 20px;
}
.topnav a.active
{
    
    color: teal;
    
}
.topnav a:hover{
    
    color: black;
}

.container {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span {
    display: block;
}

.text1 {
    color: white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: teal;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: teal;
    font-weight: 300;
}
@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.vision img
{
    height: 350px;
    width: 350px;
    margin-left: 80px;
    
}
.vision h1{
    font-size: 72px;
}
.vision{
    display: flex;
    margin-top: 150px;
}
.vision p{
    font-size: 24px;
    color: slategrey;
}
.services img
{
    height: 450px;
    width: 450px;
    margin-right:80px;
    
}
.services h1{
    font-size: 72px;
}
.services{
    display: flex;
    margin-top: 150px;
}
.services p{
    font-size: 24px;
    color: slategrey;
}
.prec img
{
    height: 450px;
    width: 550px;
    margin-right:80px;
    
}
.prec h1{
    font-size: 72px;
}
.prec{
    display: flex;
    margin-top: 150px;
}
.prec p{
    font-size: 24px;
    color: slategrey;
}
